.intro1 {
  font-size: 160%;
  font-weight: 500;
  color: darkslategray;
  /* text-align:justify; */
  /* margin-left: 20px; */
}

.intro2 {
  color: navy;
  font-size: 45px !important;
  font-family: "Times New Roman", Times;
  font-weight: 550;
 
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .intro21,.intro2{
text-align:center !important;
margin-left: 80px !important;
  }
  .into22{  
    margin-left: 120px !important;
  }
  .intro23{ 
margin-left:180px !important;
   /* align-items: center !important;
   justify-content: center !important;
   display: flex !important;; */
   
  }

  /* .intro2{
    margin-left: 50px !important;
  }
  */
}

@media screen and (min-width: 770px) and (max-width:2560px) {
  .intro1{
 margin-left: 40px !important;
  }

}

/* @media screen and (min-width: 770px) and (max-width:1440px) {
  .intro23{
 
 
} */


/* .intro3{
  margin-top: 2%!important;
} */

/* @keyframes slide {
    0%{
        opacity: 0;
        transform: translateY(40%);

    }
    50%{
        opacity: 1;
        transform: translateY(100%);
    }
    100%{
        opacity: 0;
        transform: translateY(-100%);
    }
}
.intro1{
    animation-name: intro1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.intro2:hover{
    animation: 1s ease-in-out 0s 1 normal forwards running intro2;

} */

@keyframes slide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(30px);
  }
}
.intro2 {
  animation: slide 1.5s linear 0.5s;
}
.intro3{
  animation: slide 1.5s linear 0.5s;
}
.intro21 {
  animation: slide 1.5s linear 1s;
}
.into22{
  animation: slide 1.5s linear 1.5s;
}
.intro23{
  animation: slide 1.5s linear 2s;
}

/* @media screen and (min-width: 768px) and (max-width: 990px) {
  .intro2 {
   text-overflow:ellipsis;
  }
} */

.About1 {
  color: darkviolet;
  font-size: 45px;
  text-align: center;
}
.About2 {
  color: darkcyan;
  text-align: center;
  margin: 30px;
}
.About3 {
  font-size: 140%;
  font-weight: 49M0 !important;
  color: darkslategray;
  font-style: normal;
  /* text-align: justify; */
 
}
.aboutme{
  margin-left: 60px;
  margin-top: 70px;
}

.about21{
  margin-left: 90px !important;
  
}

.About3{
  margin-left: 100px !important;
  /* margin-top: 100px !important; */
  /* align-items: center !important;
  justify-content: center !important;
  display: flex !important;; */
}

@media screen and (min-width:0px) and (max-width:768px)
{
  /* .About2{
   text-align: center;
  }
  .About3{
    text-align: center !important;
    margin-left: 80px !important;
  
  } */
}

.Skills1 {
  color: darkviolet;
  font-size: 45px;
  text-align: center;
}
.Skills2 {
  font-size: 140%;
  font-weight: 490;
  color: darkslategray;
  font-style: normal;
  /* text-align: justify; */
  margin-left: 100px !important;
}
.skill4{
  margin-left: 100px !important;
  margin-top: 50px !important;
}
