.contact1{

color: blueviolet;
}

.contact2{
 font-size: 140%;
  font-weight: 490;
  color: darkslategray;
  font-style: normal;
  text-align:justify;
}

.Addrs1{
    font-size: 140%;
  font-weight: 490;
  color: darkslategray;
  font-style: normal;
  text-align:justify;
}